body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
}

#crypto-select {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
}

#crypto-info {
    text-align: left;
}

h2 {
    margin-bottom: 10px;
}
